<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to my page!-->
  <!--</h1>-->

<!--</div>-->

<!--<div class="container">-->

  <!--<ul><a routerLink="/login"> login</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/:wid/page/:pid"> page-edit</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/:wid/page"> page-list</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/:wid/page/new"> page-new</a></ul>-->

  <!--<ul><a routerLink="/user/:uid"> profile </a></ul>-->

  <!--<ul><a routerLink="/register"> register</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/:wid"> website-edit</a></ul>-->

  <!--<ul><a routerLink="user/:uid/website"> website-list</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/new"> website-new</a></ul>-->

  <!--<ul><a routerLink="/user/:uid/website/:wid/page/:pid/widget/new"> widget-choose</a></ul>-->

  <!--<ul><a routerLink="profile/:uid/website/:wid/page/:pid/widget/new/header"> widget-heading</a></ul>-->

  <!--<ul><a routerLink="profile/:uid/website/:wid/page/:pid/widget/new/image"> widget-image</a></ul>-->

  <!--<ul><a routerLink="user/:uid/website/:wid/page/:pid/widget"> widget-list</a></ul>-->

  <!--<ul><a routerLink="profile/:uid/website/:wid/page/:pid/widget/new/youtube"> widget-youtube</a></ul>-->

<!--</div>-->
<router-outlet></router-outlet>


