<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse mr-auto" id="collapsingNavbar">
    <ul class="navbar-nav">
      <a class="nav-link cl-icon-padding" routerLink="..">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="navbar-brand cl-icon-padding" routerLink=".">Edit Page</a>
    </ul>
  </div>

  <div>
    <ul class="navbar-nav ml-auto">
      <button class="nav-link cl-icon-padding"
         (click)="updatePage()"
         routerLink=".."><i class="fa fa-check"></i></button>
    </ul>
  </div>
</nav>

<div class="container cl-container-padding">

  <form>

    <div class="form-group" *ngIf="page">
      <label for="page-name">Name</label>
      <input type="text"
             class="form-control"
             id="page-name"
             placeholder="Page Name"
             [(ngModel)]="page.name"
             ngModel
             required
             #name="ngModel"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group" *ngIf="page">
      <label for="page-title">Title</label>
      <input type="text"
             class="form-control"
             id="page-title"
             placeholder="Page Title"
             [(ngModel)]="page.title"
             [ngModelOptions]="{standalone: true}"/>
    </div>

  </form>
  <button class="btn btn-danger btn-block"
     (click)="deletePage()"
     routerLink="..">Delete</button>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <a routerLink="../../../.." class="navbar-link navbar-text pull-right cl-icon-padding">
      <i class="fa fa-user"></i>
    </a>
  </ul>
</nav>
