<nav class="navbar navbar-expand-md bg-light navbar-light">
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav">
      <a class="navbar-brand cl-icon-padding" routerLink="..">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="navbar-brand cl-icon-padding" routerLink=".">Choose Widget</a>
    </ul>
  </div>
</nav>

<div class="container-fluid cl-container-padding-more">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./header">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./text">Text</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./image">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./youtube">Youtube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./html">Html</a>
    </li>
  </ul>
</div>


<nav class="navbar fixed-bottom navbar-light navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <a routerLink="../../../../../.." class="navbar-link navbar-text pull-right cl-icon-padding">
      <i class="fa fa-user"></i>
    </a>
  </ul>
</nav>
