
<div class="container custom-padding">

  <h1>Register</h1>

  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>

  <div *ngIf="passwordFlag" class="alert alert-warning">
    {{passwordMsg}}
  </div>

  <form (ngSubmit)="register()" #f="ngForm">

    <div class="form-group">
      <input id="username"
             name="username"
             placeholder="username"
             type="text"
             class="form-control"
             [ngClass]="{'red-border-class': errorFlag}"
             ngModel
             required
             #username="ngModel"/>
      <span class="alert-class" *ngIf="errorFlag">{{errorAlert}}</span>
    </div>

    <div class="form-group">
      <input id="password"
             name="password"
             placeholder="password"
             type="password"
             class="form-control"
             [ngClass]="{'red-border-class': passwordFlag}"
             ngModel
             required
             #password="ngModel"/>
      <span class="alert-class" *ngIf="passwordFlag">{{passwordAlert}}</span>
    </div>

    <div class="form-group">
      <input id="v_password"
             name="v_password"
             placeholder="verify password"
             type="password"
             class="form-control"
             ngModel
             required
             #v_password="ngModel"/>
    </div>


    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">Register</button>

    <button class="btn btn-danger btn-block"
            type="button"
            (click)="cancel()">Cancel</button>
  </form>

</div>
